<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
    <div class="d-flex justify-content-space-start">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">
        Songly
      </a>
      <a class="navbar-brand" routerLink="/playlists" routerLinkActive="active">
        Playlists
      </a>
    </div>
    <a href="https://soundcloud.com">
      <img src="assets/soundcloud-logo.png" alt="soundcloud">
    </a>
</nav>

<section class="d-flex justify-content-center">
  <router-outlet></router-outlet>
</section>
